.card {
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: center;

    min-width: 124px;
    min-height: 124px;
    max-width: 100%;

    .face {
        border-radius: 4px;
        position: absolute;
        width: 100%;
        cursor: pointer;
        will-change: transform, opacity;

        padding: 0.5rem;
      }
}