.buttonClass {
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 15px 18px;
    background-color: hsl(168, 48%, 48%);

    font-weight: 500;
    font-size: 0.9rem;

    &:hover {
        background-color: hsl(168, 48%, 68%);
    }

    
}
.outline {
    background-color: transparent;
    border: 2px solid hsl(168, 48%, 48%);
}