@import '../../styles/colors.scss';

.buttonClass {
    position: relative;
    // display: inline-block;

    border: 2px solid transparent;
    border-radius: 2px;
    padding: 15px 18px;
    background-color: hsl(168, 48%, 48%);

    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;

    text-transform: uppercase;
    letter-spacing: 0.03em;

    &:hover {
        background-color: hsl(168, 48%, 68%);
    }

}
.outline {
    --primary-light: hsl(168, 44%, 54%);

    background-color: transparent;
    border: 2px solid var(--primary-light);

    color: var(--primary-light);

    &:hover {
        color: black;
        background-color: var(--primary-light);
    }
}
.secondary {
    background-color: transparent;
    &:hover {
        background-color: hsl(168, 48%, 48%);
    }
}

.buttonIcon {
    width: 24px;
    height: 24px;
}