/* Page components - Case Study */

.pageLayout {
    & > section, article, aside {
        margin-bottom: 48px;
    }
}

/* Default layout for large screens */
.head {
    background-color: hsl(234, 22%, 10%);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;

    & > div {
        min-width: 50%;
    }

    h1 {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 0;
        // padding-bottom: 16px;

        &::after {
            content: "";
            display: block;
            padding-top: 16px;
            width: 64px;
            // height: 1px;
            border-bottom: 4px solid #fff;
        }
    }
}

.titleClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding-inline: 16px;
    padding-block: 24px;

    & > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: 0.8rem;
        // color: #fff8;

        li:not(:last-of-type) {
            margin-right: 16px;
        }
    }
}

/* Layout for extra small screens */
@media (max-width: 575px) {
    .titleClass ul {
        flex-direction: column;
        li {
            margin-right: 0;
        }
    }
}

.img {
    align-self: stretch;
}

/*
 * Layout for small screens (mobile)
*/
@media (max-width: 781px) {
    .head {
        flex-direction: column;
        & > div {
            min-width: 100%;
        }
    }
}



.info {
    list-style: none;
    padding: 0;
}

/* Case Study contentfulRichText styling - text */
/* Sets width of text elements */
.content {
    max-width: 780px;
    & > *:first-child {
        margin-top: 0;
    }
    p {
        font-size: 1.1rem;
        margin-bottom: 1.5em;
        line-height: 1.65em;
        font-weight: 300;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 700;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.25rem;
    }
    li p {
        margin-bottom: 0.25rem;
    }
    .wide, .wide > * {
        max-width: 100%;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    
        figcaption {
            // text-align: center;
            font-size: 0.8rem;
            font-style: italic;
            padding-top: 0.5rem;
        }
    }
}

/* Grid system for displaying content on large screens */
@media screen and (min-width: 701px) {
    .content, .titleClass {
        display: grid;
        grid-template-columns: [full-start] minmax(1em, 1fr) [main] minmax(min-content, 700px) [main-end] minmax(1em, 1fr) [full-end];
        & > * {
            grid-column: main / main-end;
        }
        .wide {
            grid-column: full-start / full-end;
        }
    }
}
