@import '../styles/breakpoints.scss';

/* Container */
.wrapper {
    grid-column: start / end;

    display: grid;
    grid-template-columns: inherit;
    row-gap: 48px;

    // Undo the initial vertical offset; integrate into section
    margin-top: -32px;
    padding-top: 32px;
    // padding-bottom: 32px;
    
    // background-color: hsl(234, 22%, 10%);
    background-color: #ffffff10;

    & > * {
        grid-column: main-start / main-end;
    }

    .coverImage {
        grid-column: start / end;
    }
}

@media screen and (min-width: 1100px) {
    .wrapper {
        grid-column: start / end;

        display: grid;
        grid-template-columns: inherit;

        margin-top: -32px;
        padding-top: 80px;
    }
}

/* Title & description */
.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    
    nav {
        font-size: 0.8rem;
    }

    /* Title */
    h1 {
        margin-top: 0;

        &::before {
            content: "Case study";
            display: block;
            
            font-size: 1rem;
            font-weight: 400;
            color: #e1e5e580;
        }
    }
    /* Description */
    .lead {
        font-size: 1.31rem;
        line-height: 1.25;
    }
}

/* Project attributes */
.projectDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;

    // Undo default styling
    padding: 0;
    
    font-size: 0.875rem;
    list-style: none;
    color: #C8CCCB;
    
    // Detail item
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
}

.link {

}

/* Title cover photo */
.coverImage {
    // min-width: 40%;
}