/* Page components - Case Study */

.pageLayout {
    & > section, article, aside {
        margin-bottom: 48px;
    }
}

/* Case Study contentfulRichText styling - text */
/* Sets width of text elements */
.content {
    max-width: 780px;
    & > *:first-child {
        margin-top: 0;
    }
    p {
        font-size: 1.1rem;
        margin-bottom: 1.5em;
        line-height: 1.65em;
        font-weight: 300;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0.5em;
        margin-bottom: 0.25em;
    }
    h2 {
        font-size: 3rem;
        font-weight: 500;
    }
    h3 {
        font-size: 2.25rem;
        font-weight: 500;
    }
    b, strong {
        font-weight: 700;
    }
    li p {
        margin-bottom: 0.25rem;
    }
    .wide, .wide > * {
        max-width: 100%;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    
        figcaption {
            // text-align: center;
            font-size: 0.8rem;
            font-style: italic;
            padding-top: 0.5rem;
        }
    }
}

/* Grid system for displaying content on large screens */
@media screen and (min-width: 701px) {
    .content {
        display: grid;
        grid-template-columns: [full-start] minmax(1em, 1fr) [main] minmax(min-content, 700px) [main-end] minmax(1em, 1fr) [full-end];
        & > * {
            grid-column: main / main-end;
        }
        .wide {
            grid-column: full-start / full-end;
        }
    }
}
