/* Page components - Case Study */

.pageLayout {
    & > section, article, aside {
        margin-bottom: 48px;
    }
}

/* Title container */
.head {
    background-color: hsl(234, 22%, 10%);
    color: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Title content */
.titleClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding-inline: 16px;
    padding-block: 36px;

    /* Spacing */
    & > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    /* Title */
    h1 {
        font-weight: 400;
        margin-top: 0;

        &::after {
            content: "";
            display: block;
            padding-top: 16px;
            margin-left: 1px;
            width: 64px;
            // height: 1px;
            border-bottom: 3px solid #fff;
        }
    }
}

/* Project attributes */
.info {
    list-style: none;
    padding: 0;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 0.8rem;

    li {
        flex: 1;
        padding-bottom: 8px;
        &:not(:last-of-type) {
            margin-right: 16px;
        }
        strong {
            // padding-bottom: 8px;
            // border-bottom: 1px solid white;
            display: inline-block;
            margin-bottom: 8px;
        }
        hr {
            color: white;
            border-color: white;
        }
    }
}

/* Layout for extra small screens */
@media (max-width: 575px) {
    .info {
        flex-direction: column;
        li {
            margin-right: 0;
        }
    }
}

/* Title cover photo */
.img {
    min-width: 40%;
}

// /*
//  * Layout for small screens (mobile)
// */
// @media (max-width: 781px) {
//     .head {
//         flex-direction: column;
//         & > div {
//             min-width: 100%;
//         }
//     }
// }

/* Case Study contentfulRichText styling - text */
/* Sets width of text elements */
.content {
    max-width: 780px;
    & > *:first-child {
        margin-top: 0;
    }
    p {
        font-size: 1.1rem;
        margin-bottom: 1.5em;
        line-height: 1.65em;
        font-weight: 300;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 700;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.25rem;
    }
    li p {
        margin-bottom: 0.25rem;
    }
    .wide, .wide > * {
        max-width: 100%;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    
        figcaption {
            // text-align: center;
            font-size: 0.8rem;
            font-style: italic;
            padding-top: 0.5rem;
        }
    }
}

/* Grid system for displaying content on large screens */
@media screen and (min-width: 701px) {
    .content {
        display: grid;
        grid-template-columns: [full-start] minmax(1em, 1fr) [main] minmax(min-content, 700px) [main-end] minmax(1em, 1fr) [full-end];
        & > * {
            grid-column: main / main-end;
        }
        .wide {
            grid-column: full-start / full-end;
        }
    }
}
