@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "./typography.scss";
@import "./colors.scss";

/* ==================================================================== */
/* Universal styles */

/* Activates smooth scrolling for anchor links */
html, body {
    scroll-behavior: smooth;
}

/* Dark mode - in progress */
.default-mode {
    background-color: $light;
    color: $dark;
    a {
        color: hsl(212, 100%, 39%);
    }
}
.dark-mode {
    background-color: $dark;
    color: hsl(204, 24%, 96%);
    // card? color
    // secondary text color
    // link color
    a {
        color: hsl(198, 100%, 50%);
    }
    // hover color
    // border color
}

.light {
    color: $dark;
}

.dark {
    color: hsl(204, 24%, 96%);
}




/* ==================================================================== */
/* Page sections */

/* Adds bottom-margin spacing to every page section */
section, .page-section {
    grid-column: main-start / main-end;
    padding: 64px 0;

    .section-title {
        font-weight: 700;
        margin-bottom: 0.5em;
        font-size: 3rem;
    }

    // At smaller screens, turn into hamburger menu
    // Fix menu button at top left
    // Slide in from left
}

section:first-of-type {
    padding-top: 0;
}

// Solution for long text
.longform-text {
    & > *:first-child {
        margin-top: 0;
    }
    p {
        max-width: 600px;
    }
    h1, h2, h3, h4, h5 {
        margin-top: 0.5em;
        margin-bottom: 0.25em;
    }
}

.main-and-sidebar-container {
    display: grid;
    grid-template-columns: 
        [start] minmax(min-content, 600px)
        [sidebar-start] 1fr
        [end]
    ;

    column-gap: 176px;

    .main {
        grid-column: start / sidebar-start;
    }

    .sidebar {
        grid-column: sidebar-start / end;
    }
}

@media screen and (max-width: 1280px) {
    .main-and-sidebar-container {
        .main, .sidebar {
            grid-column: start / end;
        }
        .main {
            padding-bottom: 64px;
        }
    }
}

/* ==================================================================== */
/* Navigation */

/* Neutralizes <Link> styling when placed in other visual components, like buttons */
.a-no-style, .a-no-style:hover {
    color: inherit !important;
    text-decoration: none;
    transition: none;
}

@mixin a-unstyled {
    color: inherit !important;
    text-decoration: none;
    transition: none;
}

.secondary-link {
    @extend .a-no-style;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    &:hover {
        text-decoration: underline;
        background-color: hsl(168, 48%, 68%);
    }
}

.navbar-brand {
    border-bottom: 3px solid transparent;
}

.nav-link--is-active {
    // color: $teal !important;
    // border-bottom: 3px solid $teal;
}

.unstyled-list {
    list-style: none;
    padding: 0;
}

.divider {
    margin-top: 32px;
    margin-bottom: 32px;
}