@import "./custom.scss";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* ==================================================================== */
/* Universal styles */

/* Activates smooth scrolling for anchor links */
html, body {
    scroll-behavior: smooth;
}

/* Header scroll fix */
// section:before {
//     content: "";
//     display: block;
//     height: 125px;
//     margin-top: -100px;
    
//     visibility: hidden;
//     pointer-events: none;
// }

/* Dark mode - in progress */
.default-mode {
    background-color: $light;
    color: $dark;
    a {
        color: hsl(212, 100%, 39%);
    }
}
.dark-mode {
    background-color: $dark;
    color: hsl(204, 24%, 96%);
    // card? color
    // secondary text color
    // link color
    a {
        color: hsl(198, 100%, 50%);
    }
    // hover color
    // border color
}

.light {
    color: $dark;
}

.dark {
    color: hsl(204, 24%, 96%);
}

/* ==================================================================== */
/* Typography */
blockquote {
    border-left: 3px solid gray;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    font-size: 1.15rem;
    font-style: italic;

    p {
        margin-bottom: 0 !important;
    }
}

.small-header {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: $gray-600;
    text-transform: uppercase;
    &.dark {
        color: $gray-400;
    }
}

label {
    font-weight: 500;
}


/* ==================================================================== */
/* Page sections */

/* Adds bottom-margin spacing to every page section */
section, .page-section {
    padding: 32px 0;

    .section-title {
        font-weight: 700;
        margin-bottom: 1em;
        font-size: 3rem;
    }
}

/* ==================================================================== */
/* Navigation */

/* Neutralizes <Link> styling when placed in other visual components, like buttons */
.a-no-style {
    color: inherit !important;
    text-decoration: none;
    transition: none;

    &:hover {
        @extend .a-no-style;
        color: inherit;
    }
}

.secondary-link {
    @extend .a-no-style;
    &:hover {
        text-decoration: underline;
    }
}

.navbar-brand {
    border-bottom: 3px solid transparent;
}

.nav-link--is-active {
    color: $teal !important;
    border-bottom: 3px solid $teal;
}
