/* Color */
$dark: hsl(210, 11%, 15%);
$light: hsl(204, 24%, 96%);
$dark-link: hsl(198, 100%, 50%);
$light-link: hsl(212, 100%, 39%);
$primary: hsl(168, 48%, 48%);

$body-text-light: #e1e5e5;
$header-text-light: #CEDBD9;
