// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

/* ==================================================================== */
/* Overrides follow. */

/* ==================================================================== */
/* Color */
$dark: hsl(234, 22%, 19%);
$light: hsl(204, 24%, 96%);
$dark-link: hsl(198, 100%, 50%);
$light-link: hsl(212, 100%, 39%);
$primary: hsl(168, 48%, 48%);;

/* ==================================================================== */
/* Inputs */
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1rem;

/* ==================================================================== */
/* Buttons */
$btn-font-size: 15px;
$btn-font-weight: 500;
$btn-padding-y: 1rem;
$btn-padding-x: 1.2rem;

/* ==================================================================== */
/* Typography */
$headings-font-weight: 400;

/* ==================================================================== */
/* Navbar */
$navbar-padding-y: $spacer;
$navbar-padding-x: $spacer * 2;
$navbar-brand-font-size: $font-size-base;
$navbar-brand-weight: 700;
$navbar-brand-padding-y: 1rem;

/* Nav */
$nav-link-padding-x: 2rem;
$nav-link-padding-y: 1rem;

/* ==================================================================== */
/* The following line can be included in a src/App.scss */
@import "~bootstrap/scss/bootstrap";