.layout {
    position: relative;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mainContent {
    flex: 1;

    display: grid;
    grid-template-columns: [start] minmax(24px, 1fr) [main-start] minmax(min-content, 1000px) [main-end] minmax(24px, 1fr) [end];

    padding: 64px 0;
}