.sidebar {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    
    padding: 100px 40px;

    background-color: hsl(210, 11%, 25%);

    display: block;

    /* Mobile */
    position: fixed;
    top: 0;

    transition: transform 0.3s ease-out;
    transform: translateX(0%);
    &.sidebarIsClosed {
        transform: translateX(-100%);
    }
}

/* Desktop screens: attach sidebar to left side. */
@media screen and (min-width: 721px) {
    .sidebar {
        position: sticky;
        top: 0;
        transition: none;
        transform: none;
        &.sidebarIsClosed {
            transform: none;
        }
    }
}

.openButton {
    z-index: 9999;
    box-shadow: 0px 8px 16px hsla(0, 0%, 0%, 0.5);
    position: fixed;
    top: 24px;
    left: 24px;
    display: block;
}

/* No toggle button on large screens. */
@media screen and (min-width: 721px) {
    .openButton {
        display: none;
    }
}

.nav {
    box-shadow: 0px 0px 4px hsla(168, 48%, 48%, 0.5);
    padding: 0;
    &>*:not(:last-child) {
        margin-bottom: 4px;
    }
}

.navLink {
    width: 124px;
    padding: 0;
    margin: 0;
    
    list-style: none;
    
    color: #f2f5f7;
    
    svg {
        display: inline-block;
    }
    
    // .a-no-style
    a, a:not(.active):hover {
        display: flex;
        padding: 8px 16px;
        gap: 8px;
        
        border-radius: 4px;
        color: #f2f5f7 !important;

        font-weight: 700;
        font-size: 0.8rem;

        text-decoration: none;
        &:hover, &:focus {
            background-color: hsla(168, 48%, 48%, 0.2);
        }
        &.active {
            text-decoration: none;
            background-color: hsla(168, 48%, 48%, 1);
        }
    }
}

.overlay {
    transition: background-color 0.3s ease-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: hsla(0, 0%, 0%, 0.5);

    cursor: pointer;
}

/* No overlay on large screens. */
@media screen and (min-width: 721px) {
    .overlay {
        display: none;
    }
}