.sidebar {
    z-index: var(--active-navigation);
    min-width: 224px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: start;
    
    padding: 24px 24px;
    gap: 48px;

    box-shadow: 4px 0px 16px hsla(210, 11%, 25%, 0.5);
    background-color: hsl(210, 11%, 25%);


    /* Mobile */
    grid-column: main-start / main-end;
    position: fixed;
    top: 0;

    transition: transform 0.15s ease-out;
    transform: translateX(0%);
    &.sidebarIsClosed {
        transform: translateX(-100%);
    }
}

/* Desktop screens: attach sidebar to left side. */
@media screen and (min-width: 721px) {
    .sidebar {
        position: sticky;
        top: 0;
        transition: none;
        transform: none;
        &.sidebarIsClosed {
            transform: none;
        }
    }
}

.menuBar {
    z-index: var(--menu-bar);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    align-self: stretch;

    padding: 24px;

    background-color: inherit;
    // background-color: red;
}

.openButton {
    // box-shadow: 0px 8px 16px hsla(0, 0%, 0%, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
    background-color: inherit;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 10px;

    cursor: pointer;
}

/* No toggle button on large screens. */
@media screen and (min-width: 721px) {
    .menuBar, .openButton {
        display: none;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.nav {
    width: 100%;
    padding: 0;
    &>*:not(:last-child) {
        margin-bottom: 4px;
    }
}

.navLink {
    min-width: 124px;
    padding: 0;
    margin: 0;
    
    list-style: none;
    
    color: #f2f5f7;
    
    svg {
        display: inline-block;
    }
    
    // .a-no-style
    a, a:not(.active):hover {
        display: flex;
        padding: 16px 24px;
        gap: 8px;
        
        border-radius: 4px;
        color: #f2f5f7 !important;

        font-weight: 700;
        font-size: 0.8rem;

        text-decoration: none;
        &:hover, &:focus {
            background-color: hsla(168, 48%, 48%, 0.2);
        }
        &.active {
            text-decoration: none;
            background-color: hsla(168, 48%, 48%, 1);
            color: #000;
        }
    }
}

.overlay {
    z-index: var(--active-navigation);
    transition: background-color 0.3s ease-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: hsla(0, 0%, 0%, 0.5);

    cursor: pointer;
}

/* No overlay on large screens. */
@media screen and (min-width: 721px) {
    .overlay {
        display: none;
    }
}