.tocClass {
    z-index: 999;
    position: sticky;
    top: 91px;
    background-color: black;

    padding: 1rem;

    transition: height 0.3s ease-out;

    box-shadow: 0 16px 48px hsla(0, 0%, 0%, 0.36);

    cursor: pointer;
    user-select: none;

    ul {
        list-style: none;
        padding-left: none;
        li {
            a {
                display: block;
                padding: 0.5rem;
                color: white;
                &:hover, &:focus {
                    text-decoration: underline;
                    background-color: hsla(0, 0%, 100%, 0.158);
                }
            }
            .activeLinkClass {
                font-weight: 700;
                text-decoration: underline;
            }
            
        }
    }
}

.labelClass {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        color: rgb(129, 196, 255);
    }
}

.iconClass {
    font-size: 32px;
    font-weight: 700;
}