.tocClass {
    z-index: 999;
    background-color: inherit;
    grid-column: main / main-end;

    border-radius: 4px;
    // padding: 1rem;

    transition: height 0.3s ease-out;

    // border: 1px solid lightgray;

    font-size: 0.8rem;

    cursor: pointer;
    user-select: none;

    & > ul {
        padding-left: 0;
    }
    ul {
        list-style: none;
        // padding-left: 0;
        li {
            a {
                display: block;
                padding: 0.5rem;
                color: currentColor;
                &:hover, &:focus {
                    text-decoration: underline;
                    background-color: hsla(0, 0%, 100%, 0.158);
                }
            }
            .activeLinkClass {
                font-weight: 700;
                text-decoration: underline;
            }
            
        }
    }
}


/* Spacing */


@media (max-width: 991px) {
    .tocClass {
        margin-bottom: 32px;
        padding: 0 16px;
    }
}

@media (max-width: 701px) {
    .tocClass {
        padding: 0;
    }
}

.labelClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
        color: rgb(129, 196, 255);
    }
}

.iconClass {
    font-size: 32px;
    font-weight: 700;
}