@import "~bootstrap/scss/bootstrap";

/* ==================================================================== */
/* Overrides follow. */

/* ==================================================================== */
/* Color */

/* ==================================================================== */
/* Inputs */
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;

/* ==================================================================== */
/* Typography */
$headings-font-weight: 400;

/* ==================================================================== */
/* Navbar */
$navbar-padding-y: $spacer / 4;

$navbar-brand-font-size: $font-size-base;



/* ==================================================================== */
/* The following line can be included in a src/App.scss */
@import "~bootstrap/scss/bootstrap";