@import "~bootstrap/scss/bootstrap";

/* ==================================================================== */
/* Overrides follow. */

/* ==================================================================== */
/* Color */

/* ==================================================================== */
/* Inputs */
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1rem;

/* ==================================================================== */
/* Typography */
$headings-font-weight: 400;

/* ==================================================================== */
/* Navbar */
$navbar-padding-y: $spacer;
$navbar-padding-x: $spacer;
$navbar-brand-font-size: $font-size-base;

/* Nav */
$nav-link-padding-x: 1.5rem;
$nav-link-padding-y: 1rem;

/* ==================================================================== */
/* The following line can be included in a src/App.scss */
@import "~bootstrap/scss/bootstrap";