.wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.title {

    .small {
        font-size: 0.875rem;
        
        &:first-of-type {
            color: #AFB3B2;
            text-transform: uppercase;
            letter-spacing: 3%;
        }
    
        &:last-of-type {
            font-style: italic;
        }
    }
}