.wrapper {
    background: linear-gradient(92.11deg, rgba(39, 65, 92, 0) 0%, #27415C 100%);
    margin-left: -24px;
    margin-right: -24px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 1101px) {
    .wrapper {
        margin: 0;
        border-radius: 16px;
    }
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    padding: 0;
    
    list-style: none;
    
}

.linkWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;

    width: 76px;
    height: 76px;

    border-radius: 4px;

    text-decoration: none;
    font-size: var(--label-size);
    line-height: var(--label-size);

    color: var(--button-color);

    &:hover {
        background-color: #40B59E20;
    }

    &:hover .label {
        text-decoration: underline;
    }
}

.labelWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.iconWrapper {
    border-radius: 8px;
}