.wrapper {
    background-color: hsl(168, 47%, 4%);
    margin-left: -24px;
    margin-right: -24px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    padding: 0;
    
    list-style: none;
    
}

@media (min-width: 567px) {
    .content {
        justify-content: center;
    }
}

.linkWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;

    color: #e1e5e5;

    &:hover span {
        text-decoration: underline;
    }
}

.iconWrapper {
    padding: 20px;
    border-radius: 8px;
    
    border: 2px solid #40B59E;
}