.tabContainer {
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: 1px solid #337B6F;
    border-radius: 4px;
    overflow: hidden;   // crop corners

    margin-bottom: 32px;
}

.tab {
    padding: 14px 21px;

    font-weight: 700;
    font-size: 0.875rem;

    background-color: transparent;
    color: #96B3AC;

    cursor: pointer;

    &.tabIsActive {
        background-color: hsl(168, 58%, 48%);
        color: #fff;
    }

    .hiddenInput {
        display: inline-block;
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1;
        width: 1;
        margin: -1;
        padding: 0;
        border: 0;
    }
}