.wrapper {
    // padding: 48px 0;
}

.workSection {
    display: grid;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(min(400px, 100%), 1fr)
    );
    gap: 48px;
}

.tag {
    display: flex;
    border-radius: 16px;
    background-color: hsl(168, 48%, 28%);;

    flex-direction: row;
    align-items: center;
    span:not(:last-child) {
        margin-right: 16px;
    }

    padding: 4px 12px;

    font-size: 15px;
    font-weight: 500;
    color: #fff;
    
    user-select: none;

    &:hover {
        background-color:hsl(168, 48%, 48%);
        cursor: pointer;
    }

    &.activeTag, &:active {
        background-color: hsl(168, 58%, 48%);
        &:hover {
            background-color: hsl(168, 48%, 38%);
        }
    }

    &[reset=true] {
        background-color: blue;
        display: block;
        margin-bottom: 16px;
    }
}

.blurb {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.coverImageBackground {
    background-color:hsl(168, 48%, 48%);
    border-radius: 8px;
}

.coverImage {
    position: relative;

    border-radius: 8px;
    overflow: hidden; // Crop border edges
    
    box-shadow: none;
    line-height: 0;
    border-radius: 8px;

    transform: none;
    transition: transform 0.15s ease-out;

    &:hover {
        transform: translateX(10px) translateY(-10px);
    }
}

.protectedTag {
    position: absolute;
    left: 16px;
    top: 16px;

    display: block;

    padding: 8px 12px 9px 12px;
    background-color: hsl(168, 48%, 48%);
    border-radius: 2px;
    
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}



.icon {
    display: inline;
    margin-bottom: -1px;
    margin-right: 0.5rem;
    // color: hsl(168, 58%, 58%);
}

.details {
    display: flex;
    flex-direction: row;
    gap: 8px;
    line-height: 1.21;
    color: #A3A6A5;

    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    // &:not(:last-child) {
    //     margin-right: 12px;
    // }

    .icon {
        margin-right: 4px;
    }
}

